version: '3.9'
services:
  api:
    build:
      context: ./api
    container_name: api
    ports:
      - "8000:8000"
    volumes:
      - ./api:/var/www
    depends_on:
      - db

  client:
    build:
      context: ./client
    container_name: client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    command: npm run dev

  db:
    image: mysql:8
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: myPasswd
      MYSQL_DATABASE: db_name
      MYSQL_USER: db_user_name
      MYSQL_PASSWORD: myPasswd
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./support/nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - api
      - client

volumes:
  db_data:
